* {
	margin:0;
	padding: 0;
	border: 0;
}

header {
	background: black;
	padding: 10px 0;
	position: fixed;
	left: 0;
	right: 0;
}

header nav ul li {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.938em;
	font-weight: bold;
  display: flex;
  justify-content: center;
}

li:hover {
	width: 200px;
	text-align: center;
	border-radius: 5px;
	background-color:#BDBDBD;
	box-shadow: inset 0px 0px 50px 2px #848484;
	-webkit-transform:scale(1,1.2);
	-ms-transform:scale(1,1.2);
	transform:scale(1,1.2);

  -webkit-transition: all 200ms Linear;
	-ms-transition: all 200ms Linear;
	transition: all 200ms Linear;
}

li:hover a {
	font-size: 1.0em;
	color:#FFFFFF;
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 200ms Linear;
	-ms-transition: all 200ms Linear;
	transition: all 200ms Linear;
}

.home-ocean {
  background-image: url("../images/animation-art.jpg");
	background-attachment: fixed;
  background-size: cover;
	padding: 200px 0;
	font-family: 'Luckiest Guy', sans-serif;
	font-size: 6.250em;
	color: white;
	text-align: center;
}

.home-ocean img {
  max-width:100%;
}

#photo1 img {
  animation-name: photo1FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
}

#photo1 img:nth-of-type(1){
  animation-delay: 6s;
}
#photo1 img:nth-of-type(2){
  animation-delay: 4s;
}
#photo1 img:nth-of-type(3){
  animation-delay: 2s;
}
#photo1 img:nth-of-type(4){
  animation-delay: 0s;
}

.summary {
  background-image: url("../images/Porg_nest.png");
	background-attachment: fixed;
  background-size: cover;
	padding: 200px 0;
	font-family: 'Luckiest Guy', sans-serif;
	font-size: 6.250em;
	color: white;
	text-align: center;
}

.summary p {
  font-family: 'Montserrat', sans-serif;
  font-size: .25em;
}

.summary div p {
  font-family: 'Montserrat', sans-serif;
  font-size: .25em;
  padding-top: 50px;
}

.summary img {
  animation: fadein 3s;
}

.hill-house-section {
  background-image: url("../images/hauntinghillhouse.jpg");
	background-attachment: fixed;
  background-size: cover;
	padding: 200px 0;
	font-family: 'Luckiest Guy', sans-serif;
	font-size: 6.250em;
	color: white;
	text-align: center;
}

.hill-house-section p {
  font-family: 'Montserrat', sans-serif;
  font-size: .25em;
}

.hill-house img {
  display: flex;
  animation: fadein 2s;
}

.hill-house-section div {
  padding-top: 25px;
}

.stationwagon {
  -webkit-animation: mymove 5s infinite;
  animation: mymove 5s infinite;
}

.red-room {
  background-image: url("../images/redroom.jpg");
	background-attachment: fixed;
  background-size: cover;
	padding: 200px 0;
	font-family: 'Luckiest Guy', sans-serif;
	font-size: 6.250em;
	color: white;
	text-align: center;
}

.red-room img {
  height: 600px;
  max-width: 100%;
}

.red-room p {
  font-family: 'Montserrat', sans-serif;
  font-size: .25em;
}

.ghost {
  background-image: url("../images/open-door.jpg");
	background-attachment: fixed;
  background-size: cover;
	padding: 200px 0;
  font-family: 'Luckiest Guy', cursive;
	font-size: 6.250em;
	color: white;
	text-align: center;
}

.ghost p {
  font-family: 'Montserrat', sans-serif;
  font-size:.25em;
}

.ghost img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

footer {
  background: grey;
  display: flex;
  justify-content: center;
}

@media screen (min-width: 320px) {
  body, header {
    display: flex;
  }
}

@media (min-width: 320px) {
  img {
    max-width: 100%;
  }
}

@keyframes photo1FadeInOut {
	0% {
		opacity: 1;
	}
	17% {
	     opacity:1;
	}
	25% {
		opacity:0;
	}
	92% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}

@keyframes fadein {
  from {opacity: 0; }
  to   {opacity: 1; }
}

@keyframes mymove {
  0% {width:10%;}
  10%{width:20%;}
  20%{width:30%;}
  30%{width:40%;}
  40%{width:50%;}
  50%{width:60%;}
  60%{width:70%;}
  70%{width:70%;}
  80%{width:80%;}
  90%{width:90%;}
  100%{width:100;}
}

@keyframes shake {
  0% { transform:
    translate(1px, 1px)
    rotate(0deg); }
  10% { transform:
    translate(-1px, -2px)
    rotate(-1deg); }
  20% { transform:
    translate(-3px, 0px)
    rotate(1deg); }
  30% { transform:
    translate(3px, 2px)
    rotate(0deg); }
  40% { transform:
    translate(1px, -1px)
    rotate(1deg); }
  50% { transform:
    translate(-1px, 2px)
    rotate(-1deg); }
  60% { transform:
    translate(-3px, 1px)
    rotate(0deg); }
  70% { transform:
    translate(3px, 1px)
    rotate(-1deg); }
  80% { transform:
    translate(-1px, -1px)
    rotate(1deg); }
  90% { transform:
    translate(1px, 2px)
    rotate(0deg); }
  100% { transform:
    translate(1px, 2px)
    rotate(0deg); }
  }
